body {
    font-family: 'Poppins', sans-serif;
}

.jumbotron {
    height:100vh;
}

.navbar {
    margin-bottom: 0px;
}

.display-1 {
    text-transform: lowercase;
    text-align:center;
    font-weight: 700;
    padding-bottom:40px;
}